<div class="{{style.dialog-card}}" id="{{id}}" {{#if isSelected}} style="background-color: #E4EDFD;" {{/if}}>
    <img class="{{style.dialog-card__image}}"
        src='https://ya-praktikum.tech/api/v2/resources{{avatar}}'>

    <div class="{{style.dialog-card__content}}">
        <span class="{{style.dialog-card__content__name}}">{{title}} {{id}}</span>
        <div class="{{style.dialog-card__content__addRemoveUser}}">
            {{{addUserInChatButton}}}
            {{{deleteUserFromChat}}}
        </div>
    </div>

    <div class="{{style.dialog-card__info}}">
        <span class="{{style.dialog-card__info__time}}">{{time}}</span>
        {{#if quantity}}
        <span class="{{style.dialog-card__info__quantity}}">{{quantity}}</span>
        {{/if}}
    </div>

    <div class="{{style.dialog-card__deleteChat}}">
        {{{deleteChat}}}
    </div>
</div>
