<div class="{{styles.inputComponent}}">
    <input type={{type}} name={{name}} placeholder='{{placeholder}}' value="{{ value }}">
    {{#if validationError}}
    <span>{{validationErrorMessage}}</span>
    {{/if}}
</div>
