<div class="{{styles.inputComponent}}" {{#if hide}} style="display: none;"{{/if}}>
    {{!-- <label for="{{name}}">{{placeholder}}</label> --}}
    <input type={{type}} name={{name}} id="{{name}}" placeholder='{{placeholder}}' value="{{ value }}" {{#if disabled }} disabled {{/if}} >
    {{#if validationError}}
    <span>{{validationErrorMessage}}</span>
    {{/if}}
</div>
