<div>
    <input type={{type}} name={{name}} placeholder='{{placeholder}}'>
    {{#if validationError}}
    <span class="{{styles.container__form__inputError}}">{{validationErrorMessage}}</span>
    {{/if}}
</div>