<div class="{{style.container}}">
    {{!-- <div class="{{style.container__backTo}}">
        <img src="{{this.backToImage}}" alt="Кнопка назад">
    </div> --}}
    <div class="{{style.container__buttonWithImageContainer}}">
        {{{buttonWithImage}}}
    </div>


    <div class="{{style.container__profile}}">
        <div class="{{style.container__profile__img-container}}">
            <img class="{{style.container__profile__img-container__image}}"
                src='https://ya-praktikum.tech/api/v2/resources{{avatar}}' alt="Кнопка профиля">
            <div class="{{style.container-profile-img-container-hover}}"></div>
            <div class="{{style.container-profile-img-container-input}}">
                {{{fileInput}}}
                <span class="{{style.container-profile-img-container-input__btn}}">Выберите файл</span>
            </div>
        </div>

        <span class="{{style.container__profile__name}}">{{name}}</span>

        <div class="{{style.container__profile__formContainer}}">
            <form action="" class="{{style.container__profile__formContainer__profilePageForm}}">
                {{{emailInput}}}
                {{{loginInput}}}
                {{{firstNameInput}}}
                {{{secondNameInput}}}
                {{{displayNameInput}}}
                {{{phoneInput}}}
                {{{oldPasswordInput}}}
                {{{passwordInput}}}
                {{{passwordRepeatInput}}}

                <div class="{{style.container__profile__formContainer__profilePageForm__buttonsBlock}}">
                    <div class="{{style.container__profile__formContainer__profilePageForm__buttonsBlock__settings}}">
                        {{{changeInfo}}}
                        {{{changePassword}}}
                        <div
                            class="{{style.container__profile__formContainer__profilePageForm__buttonsBlock__settings__buttonExitWrapper}}">
                            {{{buttonExit}}}
                        </div>
                    </div>

                    <div
                        class="{{style.container__profile__formContainer__profilePageForm__buttonsBlock__buttonContainer}}">
                        {{{saveButton}}}
                    </div>
                </div>
            </form>
        </div>
    </div>

    {{!-- {{> profilePagePopup action=popup.action content=popup.content
    needToChooseFile=popup.needToChooseFile}} --}}
</div>
