<main>
    <div class="{{authStyles.container}}">
        <form class="{{authStyles.container-form}} {{styles.container-form}}">
            <h1 class="{{authStyles.container-form-title}}">Регистрация</h1>
            {{{emailInput}}}
            {{{loginInput}}}
            {{{firstNameInput}}}
            {{{secondNameInput}}}
            {{{phoneInput}}}
            {{{passwordInput}}}
            {{{passwordRepeatInput}}}

            {{{registrationButton}}}
            {{{registrationLink}}}
        </form>
    </div>
</main>
