{{#if isMine}}
<div class="{{style.dialog-messages-own-message}}">
    {{!-- {{#if type}} --}}
    <p class="{{style.dialog-messages-own-message__text}}">{{content}}
        <span class="{{style.dialog-messages-own-message__empty}}"></span>
        <span class="{{style.dialog-messages-own-message__time}}">
            {{!-- {{#if checked}} --}}
            <img src="{{checkedMessage}}" alt="Прочитанное сообщение">
            {{!-- {{else}}
            <img src="{{uncheckedMessage}}" alt="Непрочитанное сообщение">
            {{/if}} --}}
            {{time}}</span>
    </p>
    {{!-- {{else}}
    <div class="{{style.dialog-messages-own-message__imgContainer}}">
        <img src="{{text}}" alt="Картинка чата">
        <span class="{{style.dialog-messages-own-message__time}}">
            {{#if checked}}
            <img src="{{checkedMessage}}" alt="Прочитанное сообщение">
            {{else}}
            <img src="{{uncheckedMessage}}" alt="Непрочитанное сообщение">
            {{/if}}
            {{time}}
        </span>
    </div>
    {{/if}} --}}
</div>
{{else}}
<div class="{{style.dialog-messages-other-message}}">
    {{!-- {{#if type}} --}}
    <p class="{{style.dialog-messages-other-message__text}}">{{content}}
        <span class="{{style.dialog-messages-other-message__time}}">{{time}}</span>
        </sp>
        {{!-- {{else}}
    <div class="{{style.dialog-messages-other-message__imgContainer}}">
        <img src='{{text}}' alt="Картинка чата">
        <span class="{{style.dialog-messages-other-message__time}}">{{time}}</span>
    </div>
    {{/if}} --}}
    <span class="{{style.dialogMessages__other__time}}"></span>
</div>
{{/if}}
