<main>
    <div class="{{authStyles.container}}">
        <form class="{{authStyles.container__form}} {{styles.container__form}}">
            <h1 class="{{authStyles.container__form__title}}">Вход</h1>
            {{{loginInput}}}
            {{{passwordInput}}}

            {{{registrationButton}}}
            {{{registrationLink}}}
        </form>
    </div>
</main>
