<main>
    <div class="{{authStyles.container}}">
        <form class="{{authStyles.container-form}} {{styles.container-form}}">
            <h1 class="{{authStyles.container-form-title}}">Вход</h1>
            {{{loginInput}}}
            {{{passwordInput}}}

            {{{registrationButton}}}
            {{{registrationLink}}}
        </form>
    </div>
</main>
