<main>
<div class="{{style.container}}">
    <nav>
        <ul>
            {{{signInLink}}}
            {{{signUpLink}}}
            {{{dialogsLink}}}
            {{{profileLink}}}
            {{{pageNotFound}}}
            {{{serverError}}}
        </ul>
    </nav>
</div>
</main>
